<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FiveGoodThings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C36E50A31F287285001FFC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C36E50B71F287285001FFC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C36E50C21F287286001FFC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
